
@{
    ViewData["Title"] = "DisplaySignalR";
}

<h1>DisplaySignalR</h1>

<div class="container">
    <div class="row">
        <div class="col-6">
            <input type="text" id="Message" />
        </div>
        <div class="col-6">
            <input type="button" id="sendButton" value="Send" />
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <ul id="MessageDisplay"></ul>
        </div>
    </div>
</div>



